@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

:root {
	--laranja: #E99B04;
	--preto: #252525;
	--cinza-escuro: #696969;
	--cinza-claro: #CCCCCC;
	--cinza-claro-2: #fcfcfc;
}

* {
	margin: 0;
	padding: 0;
}

body {
    font-size: 16px;
    font-family: 'Sora', sans-serif;
    color: var(--preto) !important;
}

a {
	text-decoration: none;
	color: var(--laranja) !important
}

.resolucao {
	position: fixed;
	border: .6rem solid red;
	width: calc(100% - 1.2rem);
	height: 551px;
	z-index: 99999;
	display: none;
}

/* Cabeçalho*/

header {
	display: flex;
	justify-content: space-between;
	z-index: 999 !important;
}

header a {
	color: var(--laranja);
	text-align: right;
	font-size: 1rem;
	width: 1rem;
	text-align: center;
}

header nav {
	padding: 1.5rem;
	background-color: #fff;
	transition: .2s;
	box-sizing: border-box;
}

header nav ul {
	padding: 0 !important;
	margin: 0 !important;
	color: var(--preto) !important;
}

header nav ul li {
	text-decoration: none;
	list-style-type: none;
}

header nav ul li a {
	color: var(--preto) !important;
}

header nav ul li a:hover {
	color: var(--laranja) !important;
}

.oculto {
	margin-left: 40px;
}

#menu-desktop {
	position: fixed;
	width: 100% !important;
	display: flex;
	z-index: 9999;
}

#menu-desktop div {
	display: flex;
	margin: 0 auto !important;
	justify-content: space-between;
	align-items: center;
}

#menu-desktop div ul {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#menu-desktop div ul li {
	margin-left: 2rem;
}

#menu-mobile {
	position: absolute;
	z-index: 9999;
	width: 18rem !important;
	height: 100%;
	position: fixed;
	display: flex;
	justify-content: space-between;
	margin-left: -20rem;
	box-shadow: 10px 20px 30px 20rem rgba(var(--preto), .8) !important;
}

#menu-mobile ul {
	flex-direction: column;
}

#menu-mobile ul li {
	padding: 1rem;
}

#top-bar {
	background-color: var(--preto);
	width: 100%;
	padding: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* Conteúdo */

main {
	/*background-color: #ff000011;*/
	font-size: 1rem !important;
	width: 100% !important;
}

main section {
	display: flex;
	/*background-color: #00ff0011;*/
}

main section div,
footer div {
	box-sizing: border-box;
}

footer {
	width: 100% !important;
}

.bloco-sessao {
	padding: 6rem 0rem;
	box-sizing: border-box;
	height: auto !important;
}

.titulo-pagina {
	padding: 2.5rem 1rem 0 !important;
}

.content-sessao {
	padding: 0;
	display: flex;
	/*background-color: #0000ff11;*/
}

.content-sessao-anexo {
	display: flex;
	padding: 1rem;
	color: var(--laranja);
}

.content-sessao-anexo a {
	font-size: .8rem;
}

.content-sessao div {
	
}

.camp-descricao table {
	margin: 1rem 0;
	width: 100%
}

.camp-descricao table tr td {
	padding-top: 1rem;
}

.camp-descricao table tr td:first-of-type {
	font-weight: 700;
	width: 25%;
}

/* Rodapé */

footer {
	position: relative;
	background-color: var(--preto);
	bottom: 0;
	width: 100%;
	z-index: 995 !important;
	color: #fff;
}

footer h4 {
	font-weight: 300 !important;
	margin-bottom: 1rem;
}

footer div ul {
	padding: 0;
	margin: 0;
	margin-bottom: 3rem !important;
	color: var(--cinza-claro);
}

footer div ul li {
	list-style-type: none;
	font-size: .8rem;
	line-height: 1.2rem;
}

footer div .col-social li {
	display: flex;
	align-items: center;
}

footer div .col-social li svg {
	height: 1rem;
	fill: var(--laranja);
}

footer .content-sessao div img {
	width: 80% !important;
}

footer #rodape-infos {
	margin-top: 3rem !important;
	font-size: .6rem !important;
}

/* Página HOME */
#banner {
	width: 100%;
	height: 3rem;
	/*background-image: url('/src/img/pexels-thirdman-5256816.jpg');*/
}

#banner h1 {
	font-weight: 800 !important;
	font-size: 3.5rem;
}

#banner div svg {
	width: 100%;
	fill: var(--laranja);
}

#banner .content-sessao div:first-of-type {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 1rem 0;
}

#sobre {
	background-color: var(--cinza-claro-2);
	background-image: url(src/img/bonito-empresario-sorridente-usando-o-celular-segurando-o-telefone-em-ambas-as-maos-e-parecendo-satisfeito-com-a-camera-em-pe-de-terno-sobre-fundo-branco.jpg);
	background-size: 80%;
	background-repeat: no-repeat;
	background-position-y: 0%;
	background-position-x: 120%;
	padding: 10rem 0 !important;
}

#sobre img {
	width: 7.5rem;
	margin-bottom: 2rem;
}

h1 strong,
h2 strong,
#equipe strong,
#info-crescimento strong {
	color: var(--laranja) !important;
}

#info-crescimento h1 {
	text-transform: uppercase;
	text-align: center;
	width: 80% !important;
	margin: 0 auto;
}

#cooperada div .tipos-coop,
#equipe .content-100,
.cases-home, 
.cases-grupo {
	display: flex !important;
	flex-wrap: wrap !important;
}

.cases-home .box-case {
	width: calc((100% / 5) - 2rem) !important;
}

.cases-grupo .box-case,
.cases-home .box-case {
	margin: 1rem;
	border: .2rem solid var(--laranja);
	padding: 1rem;
	aspect-ratio: 1 / 1 !important;
	display: flex;
	flex-direction: column;
}

.box-case span {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 1rem 0;
}

.box-case span img {
	width: 30% !important;
	margin: 0 !important;
	margin-right: 1rem !important;
	rotate: 270deg;
	aspect-ratio: 1 / 1;
}

.box-case span p {
	font-size: .8rem !important;
}

.box-case span p strong {
	font-size: 2.5rem;
	font-weight: 700 !important;
	color: var(--preto) !important;
}

.box-case>p {
	text-align: center;
	font-weight: 600;
	text-transform: uppercase;
}

.box-case>p:first-of-type {
	font-size: .6rem !important;
}

.box-case>p:last-of-type {
	font-size: 1rem !important;
}

#equipe {
	padding: 0 !important;
	display: flex;
	flex-direction: column;
	text-align: center;
}

#equipe .content-100 {
	width: 100%;
}

#equipe .content-100 .card {
	box-sizing: border-box;
	width: calc(100% / 4) !important;
	aspect-ratio: 1 / 1;
	display: flex;
	flex-direction: column;
	transform-style: preserve-3d;
	transition: .2s;
	text-align: center;
}

#equipe .info-time {
	position: absolute;
	display: flex;
	background-color: var(--preto);
	height: 100%;
	width: 100%;
	margin: auto;
	transform: rotateY(180deg);
}

#equipe .info-time span {
	margin: auto;
	color: #fff;
}

#equipe img {
	position: absolute;
	margin: auto;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.flip-card {
	transform: rotateY(180deg);
	transition: .2s;
}

.flip-card img {
	opacity: .1;
}

/* Página CAMPANHAS */
#cooperada div .tipos-coop .box-cooperada {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	width: calc(100% / 3 - 2rem) !important;
	margin: 0 1rem 1.5rem;
}

.box-cooperada img {
	margin: 0 auto .5rem auto !important;
	background-color: var(--laranja);
	border-radius: 25%;
	padding: 1rem;
	width: 30%;
}

.box-cooperada h3 {
	color: var(--laranja);
}

.box-cooperada p {
	font-size: .8rem !important;
}

#tailor-made {
	background-color: var(--cinza-claro-2);
}

#maxx-premios {
	background-color: var(--laranja);
}

/* Página REFERÊNCIAS */
#referencia .content-33_33_33 {
	margin-bottom: 4rem !important;
}

#referencia .cliente div:first-of-type {
	position: relative;
}

#referencia .cliente div img {
	position: absolute;
	width: 80%;
	aspect-ratio: 1 / 1;
	object-fit: cover;
	border-radius: 50%;
}

#referencia .cliente div svg {
	position: absolute;
	padding: 0 !important;
	width: 100%;
	fill: #ffffff00;
	stroke: var(--laranja);
}

#referencia .content-sessao .cliente div h3 span {
	color: var(--laranja) !important;
	font-size: .8rem;
}

#referencia .content-sessao .cliente div p {
	font-size: .8rem !important;
}

/* Página CASES */
#cases:nth-child(odd) {
	background-color: var(--cinza-claro-2);
}

#cases img {
	width: 50%;
	margin: 2rem 0;
}

#cases ul li {
	list-style-type: none;
}

#cases .titulo-case {
	text-align: center !important;
}

@media screen and (max-width: 720px) {
	#menu-desktop {
		display: none;
	}
	
	#logo-tipo {
		height: 2rem;
	}
	
	.content-sessao {
		flex-direction: column;
	}
}

@media screen and (min-width: 730px) and (max-width: 920px) {
	main section .content-sessao,
	main section .content-sessao-anexo,
	footer div {
		width: 920px !important;
		margin: 0 auto !important;
		box-sizing: border-box;
	}
}

@media screen and (min-width: 980px) {
	#menu-mobile,
	#top-bar {
		display: none;
	}
	
	#logo-tipo {
		height: 3rem;
	}
	
	main {
		margin-top: 6rem !important;
		min-height: 30rem;
	}
	
	main,
	footer,
	main section,
	#menu-desktop {
		width: 1280px !important; 
	}

	main section .content-sessao,
	main section .content-sessao-anexo,
	footer div,
	#menu-desktop div {
		width: 90% !important;
		margin: 0 auto !important;
		box-sizing: border-box;
	}
	
	.bloco-sessao {
		flex-direction: column;
	}
	
	.content-sessao {
		justify-content: space-between;
	}
	
	.content-25_25_25_25,
	.content-25_25_25_25,
	.content-30_70,
	.content-40_60,
	.content-50_50,
	.content-60_40,
	.content-70_30 {
		display: flex;
	}
	
	.content-25_25_25_25>div {
		width: 23% !important;
	}
	
	.content-33_33_33>div {
		width: 30% !important;
	}
	
	.content-30_70>div:first-of-type {
		width: 28% !important;
	}
	
	.content-30_70>div:last-of-type {
		width: 68% !important;
	}
	
	.content-40_60>div:first-of-type {
		width: 38% !important;
	}
	
	.content-40_60>div:last-of-type {
		width: 58% !important;
	}
	
	.content-50_50>div {
		width: 48% !important;
	}
	
	.content-60_40>div:first-of-type {
		width: 58% !important;
	}
	
	.content-60_40>div:last-of-type {
		width: 38% !important;
	}
	
	.content-70_30>div:first-of-type {
		width: 68% !important;
	}
	
	.content-70_30>div:last-of-type {
		width: 28% !important;
	}
	
	.content-100>div {
		width: 100% !important;
	}
}